    #playerContainer {
        background-color: var(--principal-color);
        padding: 20px 0;
        display: flex;
        justify-content: center;
    }
    
    iframe {
        width: 100vw;
        height: 400px;
    }
    
    @media only screen and (min-width: 600px) {
        iframe {
            width: 70vw;
            height: 400px;
        }
    }