:root {
    --principal-color: #274b8c;
    --secondary-color: #212529;
    --thirdColor: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Bangers", cursive;
}

.buttonsContainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pageButton {
    cursor: pointer;
    color: var(--thirdColor);
    font-size: 2rem;
}